@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600;700&family=Nunito+Sans:wght@600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.authentication-btn {
  background-color: #e3f2fd;
}

h2 {
  margin-top: 0.5em;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.75em;
}

.view-all {
  margin-left: 62.5em;
}

.stock-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 78rem;
}

.stock-card {
  margin-top: 0.75em;
  width: 12.5rem;
  background-color: #fcf2eb;
  border-radius: 5%;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.top p {
  margin: 0;
  text-align: center;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
}

.stock-icon-card {
  border-radius: 50%;
  width: 60px;
}

.symbol-text-card {
  font-size: 1.5em;
}

.name-card {
  text-align: center;
  font-size: 0.75em;
}

.green {
  color: green;
}

.red {
  color: red;
}

.news-wrapper-home {
  margin-top: 1em auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 78rem;
}

.news-card-home {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin-top: 0.75em;
  width: 12.5rem;
}

.news-title-home {
  font-size: 0.9em;
}

.news-desc-home {
  font-size: 0.75em;
}

.second-level-header {
  margin-top: 2em;
}

.stock-show-icon {
  width: 100px;
  border-radius: 10%;
}

.stock-show-container {
  margin-top: 2em;
}

.stock-card-show {
  width: 17rem;
}

.stock-symbol-show {
  font-size: 1.5em;
}

.stock-name-show {
  font-size: 1em;
  color: #e96406;
}

.stock-price-show {
  font-size: 1.25em;
}

.stock-info-show {
  display: grid;
  width: 56rem;
  grid-template-columns: repeat(10, 1fr);
}

.stock-info-text {
  font-size: 0.9em;
}

.stock-info-value {
  color: brown;
}

.stock-watchlist {
  padding: 2em 10em;
}

#stock_watchlist_ids {
  font-family: "Lato", sans-serif;
  margin: 0.5em;
  height: 1.75em;
}

.add-to-watchlist-btn {
  background-color: #fcf2eb;
  border: 1px solid black;
  border-radius: 5%;
}

.watchlist-display-div {
  margin: 2em auto;
}

.watchlist-index-header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.75em;
  line-height: 1.75em;
}

.add-watclist-btn {
  margin-left: 1em;
  font-size: 1.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.watchlist-index-stock-icon {
  width: 50px;
  border-radius: 10%;
  margin: 5px;
}

.watchlist-name-index {
  font-size: 1.05em;
  text-decoration: none;
  color: rgb(19, 19, 19);
  text-align: center;
}

.watchlist-index-wrapper {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 78rem;
}

.watchlist-card {
  margin-top: 0.75em;
  margin-bottom: 1em;
  display: inline-block;
  width: 14rem;
  background-color: #feeee3;
  border-radius: 5%;
  padding: 1em;
}

.stock-show-watchlist {
  width: 75em;
}

.watchlist-stocks-header {
  margin: 1.5em 0;
  font-weight: 700;
}

.watchlist-headers {
  padding-left: 0;
}

.hidden {
  visibility: hidden;
}

.stock-info-in-watchlist {
  margin-top: 1em;
}

.watchlist-control-btn {
  margin: 0 1em;
}

.stock-del-watchlist-btn {
  margin-top: 0.35em;
  border: none;
  font-weight: 600;
  font-size: 1.25em;
}

.control-update-btn {
  background-color: rgba(181, 202, 148, 0.934);
}

.control-delete-btn {
  background-color: rgb(219, 157, 157);
}

@media (max-width: 1450px) {
  .stock-wrapper {
    grid-template-columns: repeat(5, 1fr);
    max-width: 66rem;
  }
}

@media (max-width: 1200px) {
  .stock-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 53rem;
  }

  .view-all {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .stock-wrapper {
    display: block;
  }

  .stock-card {
    margin: 1em auto;
    width: 15em;
  }

  .view-all {
    margin: 0;
  }

  .stock-info-show {
    font-size: 1.25em;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .stock-info-show {
    font-size: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }
}
