@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:wght@600&display=swap");

label {
  display: block;
}
.news-feature {
  width: 200px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 0.5em;
  font-family: "Nunito Sans", sans-serif;
}

.stock-icon {
  margin: 0.5em 0 0 0.5em;
  border-radius: 50%;
  width: 30%;
}

.symbol-text {
  float: right;
}
