@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@600&display=swap");

label {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 0.5em;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.75em;
}

.view-all {
  margin-left: 62.5em;
}

.stock-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 78rem;
}

.stock-card {
  margin-top: 0.75em;
  width: 12.5rem;
  background-color: #fcf2eb;
  border-radius: 5%;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.top p {
  margin: 0;
  text-align: center;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
}

.stock-icon-card {
  border-radius: 50%;
  width: 60px;
}

.symbol-text-card {
  font-size: 1.5em;
}

.name-card {
  text-align: center;
  font-size: 0.75em;
}

.green {
  color: green;
}

.red {
  color: red;
}

.news-wrapper-home {
  margin-top: 1em auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 78rem;
}

.news-card-home {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin-top: 0.75em;
  width: 12.5rem;
}

.news-title-home {
  font-size: 0.9em;
}

.news-desc-home {
  font-size: 0.75em;
}

.second-level-header {
  margin-top: 2em;
}

.show-icon {
  width: 150px;
}

@media (max-width: 1450px) {
  .stock-wrapper {
    grid-template-columns: repeat(5, 1fr);
    max-width: 66rem;
  }
}

@media (max-width: 1200px) {
  .stock-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 53rem;
  }

  .view-all {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .stock-wrapper {
    display: block;
  }

  .stock-card {
    margin: 1em auto;
    width: 15em;
  }

  .view-all {
    margin: 0;
  }
}
